* {
 box-sizing: border-box; 
}

body {
  /* border: 2px solid black; */
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  display: block; 
  justify-content: center; 
  text-align: center;
  margin: auto;
  width: 100vw;
  height: 150vh;
  background-image: url(Images/super-mario-world.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}

header {
  /* border: 1px solid black; */
  margin: auto;
  width: 75%;
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  display: flex;
  justify-content: center;
  width: 100%;
}

.gameboard {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 30px;
}

.gameboard-background-blue {
  background-image: url(/Images/blue-toad-head.png)
}

.gameboard-background-red {
  background-image: url(/Images/red-toad-head.png)
}

.gameboard div {
  border: 5px solid rgba(255, 255, 255, 0.8);
  display: flex;
  flex: 0 0 30%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 10em;
  width: 5em;
  transition: all 1s;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px rgb(168, 167, 167);
}

div.blue-cell {
  background-image: url(Images/blue-toad-head.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
  border-radius: 5px 5px 5px 5px;
}

div.red-cell {
  background-image: url(Images/red-toad-head.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
  border-radius: 5px 5px 5px 5px;
}

footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin: auto;
  height: 100px;
  width: 75%;
  transition: ease-in 1s;
}

.redPlayer {
  display: flex;
  justify-content: center;
  color: rgb(240, 51, 70);
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  width: 25%;
  font-size: 35px;
  border-radius: 5px 5px 5px 5px;
}

.redPlayerBorder {
  border: 5px solid rgb(240, 51, 70);
  box-shadow: 1px 1px rgb(124, 27, 37);
}

.bluePlayer {
  display: flex;
  justify-content: center;
  color: #3868EF;
  font-weight: bold;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  width: 25%;
  font-size: 35px;
  border-radius: 5px 5px 5px 5px;
}

.bluePlayerBorder {
  border: 5px solid #3868EF;
  box-shadow: 1px 1px rgbrgb(33, 63, 143);
}

.winner {
  border: 5px solid rgba(255, 255, 255, 0.7);
  background-color: white;
  align-self: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 50%;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px;
  display: flex;
}

#red-toad-wins {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: auto;
  max-width: 75%;
}

#blue-toad-wins {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: auto;
  max-width: 75%;
}

#draw-game {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  height: auto;
  max-width: 75%;
}

.hide {
  display: none;
}

#reset-btn {
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  margin-top: 0.2em;
  font-size: 2em;
  padding: 0.5em;
}

#big-red-toad {
  background-image: url(Images/red-toad-head.png)
}

#big-blue-toad {
  background-image: url(Images/blue-toad-head.png)
}

