* {
 box-sizing: border-box; 
}

body {
  /* border: 2px solid black; */
  font-family: 'Open Sans', sans-serif;
  display: block; 
  justify-content: center; 
  text-align: center;
  margin: auto;
  width: 1000px;
  height: 100vh;
  background-image: url(Images/super-mario-world.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

header {
  /* border: 1px solid black; */
  margin: auto;
  width: 75%;
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  display: flex;
  justify-content: center;
  width: 100%;
  /* height: auto; */
}

.gameboard {
  /* border: 5px solid yellow; */
  /* margin-left: 30%; */
  width: 75%;
  /* height: 20em; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* height: vh; */
  justify-content: space-around;
  padding-bottom: 30px;
}

.gameboard div {
  border: 5px solid rgba(255, 255, 255, 0.7);
  display: flex;
  flex: 0 0 32%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 10em;
  width: 5em;
  transition: all 1s;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px rgb(168, 167, 167);
  /* background-color: rgb(245, 237, 227); */
}

div.cell-noughts {
  /* background-color: aqua; */
  background-image: url(Images/blue-toad-head.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
  border-radius: 5px 5px 5px 5px;
}

div.cell-crosses {
  /* background-color: rgb(255, 89, 11); */
  background-image: url(Images/red-toad-head.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
  border-radius: 5px 5px 5px 5px;
}

footer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border: 2px solid red;
  margin: auto;
  height: 100px;
  width: 75%;
  transition: ease-in 1s;
}

.player1 {
  display: flex;
  justify-content: center;
  color: #E50017;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  width: 25%;
  font-size: 35px;
  border: 1px solid rgb(168, 167, 167);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px rgb(168, 167, 167);
}

.player2 {
  display: flex;
  justify-content: center;
  color: #3868EF;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  width: 25%;
  font-size: 35px;
  border: 1px solid rgb(168, 167, 167);
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px rgb(168, 167, 167);
}

.winner {
  border: 5px solid rgba(255, 255, 255, 0.7);
  background-color: white;
  align-self: center;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 50%;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 1px 1px;
}

#red-toad-wins {
  /* border: 1px solid black; */
  margin-left: auto;
	margin-right: auto;
  height: 5em;
  width: 15em;
}

#blue-toad-wins {
  margin-left: auto;
	margin-right: auto;
  height: 5em;
  width: 15em;
}

#draw-game {
  margin-left: auto;
	margin-right: auto;
  height: 5em;
  width: 12em;
}

.hide {
  display: none;
}

#reset-btn {
  border-radius: 5px 5px 5px 5px;
  background-color: white;
  margin-top: 2em;
  font-size: 25px;
  padding: 0.5em;
}

#big-red-toad {
  background-image: url(Images/red-toad-head.png)
}

#big-blue-toad {
  background-image: url(Images/blue-toad-head.png)
}


      /* .toad-legs {
        background-image: url(Images/youre-a-winner-toad-legs.jpeg);
        background-size: contain;
        background-repeat: repeat;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /* display: block; */
        /* height: 0;
        padding-top: 66.64%;
        z-index: ; */
      /* }  */
